.mainContainer {
    margin: 0 auto;
    max-width: 65vw;
    box-shadow: 0 0 5px var(--blueish-green);
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}