* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-blue: #478cac;
}

html {
    @media (max-width: 1080px) {
        font-size: 93.75%;
    }
    @media (max-width: 720px) {
        font-size: 87.5%;
    }
}

body {
    background-color: #f8f8f8;
    color: #29292e;
}

body, input, button, textarea {
    font-family: 'Roboto', sans-serif;
    font: 400 1rem;
}