.createContainer {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 2rem;

  span {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-right: 1.5rem;
  }

  .createNewForm {
    & div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-self: center;

      & div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 90%;

          label {
            font-weight: bold;
             margin-right: 0.5rem;
             margin-bottom: 0.2rem;
             margin-top: 0.2rem;
          }

          input {
            height: 1.5rem;
            
            border-radius: 8px;
            padding: 0 0.5rem;
            background-color: #fff;
            border: 1px solid #a8a8b3;
            color: #666666;
            outline: none;

            &:focus {
              box-shadow: 0 0 5px var(--light-blue);
            }

            & + label {
                margin-left: 0.5rem;
            }
          }
    
          button {
            font-size: 1rem;
            font-weight: bold;
            border: 0;
            padding: 0.2rem 0.5rem;
            border-radius: 0.5rem;
            color: #fff;
            background-color: var(--light-blue);
            cursor: pointer;
            margin-top: 1rem;
    
            transition: 0.2s filter;
    
            &:hover {
              filter: brightness(1.1);
              box-shadow: 0 0 2px var(--light-blue);
            }
          }
    
          button,
          input {
            width: 100%;
          }
      }
    }
  }
}
